body {
  margin: 0 auto;
  max-width: 100%;

  .yellow-button {
    height: 62px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #FFCC2A;
    background: #FFCC2A;
    border-radius: 31px;
    color: #2C2C2C;

    &.p-15 {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &.p-18 {
      padding-top: 19px;
      padding-bottom: 18px;
    }
  }

  .get-in {
    height: 62px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2D415E;
    background: #FFFFFF;
    border: 1px solid #2D415E;
    box-sizing: border-box;
    border-radius: 50px;
    padding-left: 56px;
    padding-right: 52px;
  }

  .head {
    align-items: center;
    display: flex;
    max-width: 1440px;
    height: 80px;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.0826049);
    margin: 0 auto 2px auto;

    .main-nav {
      display: flex;
      justify-content: center;
      max-width: 680px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      li.chevron {
        &::after {
          max-width: 7px;
          height: 5px;
          margin-left: 6px;
          display: inline-block;
          content: "";
          background-image: url("../../img/arrow.svg");
        }
      }
    }

    .nav {
      display: flex;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
    }

    ul {
      list-style: none;
    }

    .chevron {
      &::after {
        max-width: 7px;
        height: 5px;
        margin-left: 6px;
        display: inline-block;
        content: "";
        background-image: url("../../img/arrow.svg");
      }

    }

    li {
      margin: 0 25px;
    }

    a {
      text-decoration: none;
      color: #2C2C2C;;
    }
  }

  .block {
    max-width: 1440px;
    height: 645px;
    background: #FDFDFD;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;

    .content {
      margin-left: 180px;
      z-index: 100;
    }

    h2 {
      max-width: 560px;
      height: 148px;
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 74px;
      color: #2C2C2C;
      margin: 117px 0 0 0;
    }

    p {
      max-width: 520px;
      height: 116px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #565656;

    }

    .img-block {
      position: absolute;
      right: 5px;
      z-index: 1;
    }

    .download {
      margin: 56px 20px 0 0;
      padding-left: 46px;
      padding-right: 41px;
    }
  }

  .label {
    margin: 0 auto 150px auto;
    max-width: 1440px;

    h3 {
      display: flex;
      justify-content: center;
      max-width: 1400px;
      Height: 44px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #2C2C2C;
    }

    ul {
      max-width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    li {
      list-style: none;
      max-width: 153px;
      margin-left: 70px;
    }
  }

  .img-block-earth {
    margin: 0 auto;
    height: 304px;
    max-width: 1440px;


    .block-info {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      position: relative;
      margin: 0 auto;
      max-width: 1140px;
      height: 304px;
      background: #2D415E;
      border-radius: 20px;

      .img-lime {
        position: absolute;
        left: -80px;
        top: -20px;
      }

      .img-earth {
        top: -26px;
        left: 10px;
        position: inherit;
      }

      .number {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 82px;
        color: #FFCD00;
      }

      span {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFAEC;
      }

      .info {
        display: flex;
        align-items: center;
        margin-left: 96px;
      }

      .rectangle {
        position: absolute;
        left: 0;
        bottom: -5px;
      }

      .many {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
      }
    }
  }

  .help-you {
    height: 55px;
    max-width: 1440px;
    margin: 179px auto 80px auto;
    text-align: center;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #2C2C2C;
  }

  .outcome {
    height: 680px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
    align-items: center;
    margin: 0 auto;
    position: relative;

    .text-outcome {
      display: flex;
      flex-wrap: wrap;
      max-width: 462px;
      height: 600px;
      margin-right: 45px;

      h2 {
        height: 30px;
        max-width: 454px;
        font-family: Georgia, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 64px;
        color: #2C2C2C;
      }

      p {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #545454;
        max-width: 690px;
      }

      span {
        position: absolute;
        right: 197px;
        top: -4px;
      }
      .contact-us {
        padding-left: 60px;
        padding-right: 60px;
      }
      .padding-download {
        padding-left: 44px;
        padding-right: 43px;
      }
    }

    .img-outcome {
      height: 503px;
      max-width: 702px;
      margin-right: 35px;
    }
  }

  .bg-color {
    background: #FFFFFF;
  }


  .deer {
    height: 406px;
    max-width: 1440px;
    margin: 0 auto;
    display: flow-root;
    text-align: -webkit-center;
    flex-flow: column;
    position: relative;
    border-radius: 18px;
    background: #2D415E;

    .img-deer {
      height: 564px;
      max-width: 490px;
      position: absolute;
      right: 71px;
      top: -74px;
    }

    h1 {
      height: 128px;
      max-width: 1058px;
      margin: 80px 0 56px 0;
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 64px;
      color: #FFFFFF;
    }

    .download-app {
      margin-right: 24px;
      padding-left: 46px;
      padding-right: 41px;
    }

  }

  .testimonials {
    margin: 0 auto;
    height: 860px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    .content {
      margin-right: 75px;

      .comma {
        position: absolute;
        left: 140px;
      }
    }

    h3 {
      height: 64px;
      max-width: 274px;
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 64px;
      color: #2C2C2C;
    }

    .txt {
      height: 145px;
      max-width: 539px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #545454;
    }

    .menface {
      max-width: 435px;
      height: 552px;
      position: relative;
      margin-right: 0;
      padding-left: 78px;
      padding-top: 115px;

      .cubepoint {
        max-width: 58px;
        height: 58px;
        position: absolute;
        bottom: 38px;
        right: 11px;
      }
    }

    .dan {
      height: 200px;
      max-width: 215px;

      span {
        img {
          margin-top: 56px;
        }
      }

      .yellow-button {
        padding-left: 32px;
        padding-right: 31px;
        white-space: nowrap;
        margin-top: 56px;
      }
    }

    .weiss {
      margin-bottom: 6px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #2C2C2C;

    }
  }

  .carousel {
    height: 815px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;


    h2 {
      width: 100%;
      height: 64px;
      text-align: center;
      margin: 105px 0 0 0;
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 64px;
      color: #2C2C2C;
    }

    .chevron-left {
      max-width: 50px;
      height: 50px;
      position: absolute;
      left: 157px;
      top: 357px;
    }

    .section-carousel {
      width: 100%;
      height: 330px;
      display: flex;
      justify-content: center;


      p {
        max-width: 270px;
        height: 40px;
        margin-left: 15px;

      }

      iframe {
        margin: 0 15px;
        border-radius: 15px;
      }
    }

    .chevron-right {
      max-width: 50px;
      height: 50px;
      position: absolute;
      right: 157px;
      top: 357px;
    }

    .card {
      max-width: 327px;
      height: 330px;
    }
  }

  .theory {
    height: 1335px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    position: relative;
    background: #F8F8F8;
    overflow: hidden;

    .img-theory {
      max-width: 580px;
      height: 462px;
      margin: 155px 30px 0 125px;
    }

    .txt-theory {
      height: 506px;
      margin-top: 100px;

      h2 {
        height: 64px;
        max-width: 378px;
        font-family: Georgia, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 64px;
        color: #2C2C2C;
      }

      .img-cube {
        height: 100px;
        max-width: 97px;
        position: absolute;
        top: 90px;
        right: 152px;
      }

      p {
        height: 290px;
        max-width: 525px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #545454;
      }

      .learn-more {
        margin-top: 10px;
        padding-left: 53px;
        padding-right: 50px;
      }
    }

    .blog {
      max-width: 410px;
      height: 269px;
      text-align: -webkit-center;

      .blog-img-chevron {
        margin-left: 76px;
      }

      h3 {
        height: 44px;
        max-width: 132px;
        margin: 0 77px 0 10px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;
        color: #2C2C2C;
      }

      p {
        max-width: 270px;
        height: 22px;
        margin-left: 65px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #545454;
      }
    }

    .bloc-covid {
      height: 360px;
      display: flex;
      position: absolute;
      bottom: 130px;
      left: 503px;
    }

    .covid-card {
      height: 100%;
      width: 375px;
      z-index: 20;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: white;
      }

      .footer-covid {
        background: #FFFFFF;
        border-radius: 10px;
        max-width: 345px;
        height: 79px;

        span {
          height: 23px;
          max-width: 74px;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #545454;
          background: #E6E6E6;
          border-radius: 3px;
        }

        .data_covid {
          height: 23px;
          max-width: 74px;
          margin-left: 118px;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #545454;
          background: #FFFFFF;
          border-radius: 3px;
        }
      }

      p {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #2D415E;
      }
    }

    .volunteers {
      height: 273px;
      max-width: 375px;

      span {
        height: 23px;
        max-width: 74px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #545454;
        background: #E6E6E6;
        border-radius: 3px;
      }

      p {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #2C2C2C;
      }

      .data-volunteers {
        height: 23px;
        max-width: 74px;
        margin-left: 200px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #545454;
        background: #FFFFFF;
        border-radius: 3px;
      }
    }


    .impact-app {
      height: 273px;
      max-width: 280px;

      span {
        height: 23px;
        max-width: 74px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #545454;
        background: #E6E6E6;
        border-radius: 3px;
      }

      p {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #2C2C2C;
      }
    }

    .decoration {
      height: 90px;
      max-width: 155px;
      position: absolute;
      bottom: 100px;
      left: 412px;
      z-index: 10;
    }
  }

  .bloc-girl {
    max-width: 1440px;
    height: 700px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .girl {
      height: 304px;
      width: 1140px;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      align-items: end;
      position: relative;
      background: #2D415E;
      border-radius: 20px;

      .img-girl {
        height: 385px;
        max-width: 383px;
        position: absolute;
        left: 115px;
        top: -50px;
        z-index: 150;
      }

      h2 {
        height: 55px;
        max-width: 541px;
        margin: 70px 50px 50px 0;
        z-index: 10;
        font-family: Georgia, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 55px;
        color: #FFFFFF;
      }

      .circle {
        height: 44px;
        max-width: 44px;
        position: absolute;
        top: -20px;
        right: 5px;
        z-index: 100;
      }

      .circle-two {
        height: 35px;
        max-width: 35px;
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 2;
      }

      button {
        z-index: 9;
        padding-left: 37px;
        padding-right: 36px;
        margin-right: 204px;
      }

      .circle-bg {
        height: 423px;
        max-width: 423px;
        position: absolute;
        left: 0;
      }
    }
  }

  .start {
    max-width: 1440px;
    height: 220px;
    margin: 0 auto;

    h1 {
      max-width: 642px;
      height: 128px;
      margin: 0 auto;
      font-family: Georgia, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #2C2C2C;
    }
  }

  .contact-info {
    height: 510px;
    max-width: 884px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background: #F8F8F8;
    border-radius: 26px 20px 20px 26px;

    .steps {
      height: 118px;
      max-width: 130px;
      position: absolute;
      top: -140px;
      left: -195px;
    }

    h4 {
      height: 40px;
      max-width: 220px;
      position: absolute;
      bottom: 140px;
      left: 40px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #FFFFFF;
    }

    h3 {
      max-width: 256px;
      height: 44px;
      position: absolute;
      top: 8px;
      left: 40px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #FFFFFF;
    }

    .contact-in {
      max-width: 170px;
      height: 70px;
      position: absolute;
      top: 100px;
      left: 40px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF;

      img {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    .info {
      max-width: 170px;
      height: 55px;
      position: absolute;
      bottom: 110px;
      left: 40px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF;

      img {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    .touch {
      height: 510px;
      width: 465px;
      flex-flow: column;

      h2 {
        max-width: 465px;
        height: 40px;
        text-align: left;
        margin-top: 45px;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;
        color: #2C2C2C;
      }

      form {
        max-width: 465px;
        height: 315px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        input[type="text"], input[type="Email"] {
          color: #545454;
          font-family: Open Sans, sans-serif;
          padding: 7px 0;
          background: none;
          border-bottom: solid 2px #2C2C2C;
          border-top: none;
          border-left: none;
          border-right: none;

          &:focus, &:focus-visible {
            outline: none;
          }
        }
      }
    }


    button {
      margin: 35px auto 0 auto;
      padding-left: 73px;
      padding-right: 73px;
    }

    .img-lime-contact {
      height: 75px;
      max-width: 59px;
      position: absolute;
      right: -42px;
      bottom: 162px;
    }
  }

  .footer {
    max-width: 1440px;
    height: 306px;
    margin: 0 auto;
    margin-top: 155px;
    display: flex;
    justify-content: space-evenly;
    background: #F8F8F8;
    font-family: Open Sans, sans-serif;


    .img-footer-logo {
      height: 24px;
      max-width: 145px;
      list-style: none;
    }

    .company {
      list-style: none;
      line-height: 2;

      a {
        text-decoration: none;
        color: #2C2C2C;
      }
    }

    .case {
      list-style: none;
      line-height: 2;
      text-decoration: none;

      a {
        text-decoration: none;
        color: #2C2C2C;
      }
    }


    .contact {
      list-style: none;
      line-height: 2;

      a {
        text-decoration: none;
        color: #2C2C2C;
      }
    }

    .follow {
      max-width: 112px;
      margin-top: 16px;
      margin-right: 3px;
      list-style: none;
      line-height: 2;
    }

    .social-networks {
      height: 20px;
      max-width: 20px;
      margin-right: 3px;
      line-height: 3;
    }

    .studies {
      height: 27px;
      max-width: 120px;
      margin-bottom: 15px;
      list-style: none;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #2C2C2C;
    }

  }

  .ft-artemis {
    max-width: 1440px;
    height: 49px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    border-top: 1px solid #D0D0D0;;

    p {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #2C2C2C;
    }
  }
}